<ngb-carousel>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Golden-Gate-Bridge.jpeg" alt="Golden Gate Bridge">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Big-Ben.jpeg" alt="Big Ben">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Sydney-Opera-House.jpeg"  alt="Sydney Opera House">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Empire-State-Building.jpeg" alt="Empire State Building">
  </ng-template>

</ngb-carousel>

<br>

<h2 style="text-align: center">Wayfarer is...</h2>

<div class="container-fluid">

  <div class="card" *ngFor="let i of [0,1,2]">
    <h2 style="text-align: center; margin-top: 15px">Topic</h2>
    <span class="card-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
  </div>

</div>
