<ngb-carousel>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Golden-Gate-Bridge.jpeg" alt="Golden Gate Bridge">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Big-Ben.jpeg" alt="Big Ben">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Sydney-Opera-House.jpeg"  alt="Sydney Opera House">
  </ng-template>

  <ng-template ngbSlide>
    <img class='img-fluid' src="../../assets/images/Empire-State-Building.jpeg" alt="Empire State Building">
  </ng-template>

</ngb-carousel>

<h2 style="text-align: center">Wayfarer is...</h2>

<div class="container-fluid">
  <div>
    <h2>Topic</h2>
    <span>Lorem ipsum</span>
  </div>
  <div>
    <h2>Topic</h2>
    <span>Lorem ipsum</span>
  </div>
  <div>
    <h2>Topic</h2>
    <span>Lorem ipsum</span>
  </div>
</div>
