<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <a class="navbar-brand" routerLink="home">Wayfarer</a>

  <button class="navbar-toggler" type="button"  data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="isNavbarCollapsed = !isNavbarCollapsed"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Stuff</a>

        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" href="home">Home</a>
          <a class="dropdown-item" href="cities">Cities</a>
        </div>

      </li>
    </ul>

  </div>
</nav>
