<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/images/sailboat-icon.png" style="max-width: 30px; max-height: 30px; margin-top: -5px">
    Wayfarer
  </a>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Stuff</a>

        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="cities/0">Cities</a>
        </div>

      </li>
    </ul>

  </div>
</nav>
