<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <a class="navbar-brand" routerLink="home">
    <img src="../../assets/images/sailboat-icon.png" style="max-width: 30px; max-height: 30px; margin-top: -5px">
    Wayfarer
  </a>

<!--  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon" ></span>-->
<!--  </button>-->

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Stuff</a>

        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item" href="home">Home</a>
          <a class="dropdown-item" href="cities">Cities</a>
        </div>

      </li>
    </ul>

  </div>
</nav>
